<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089832021850-ue4om9a9rm38k02brbk6g4qlriqjvo5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089832021850-ue4om9a9rm38k02brbk6g4qlriqjvo5f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1089832021850-ealsnc1ivu18d8ehc8tvljnrvn06qdua.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBghckUAyw8uwaXJd6En2j9buSXPC9vf0A</string>
	<key>GCM_SENDER_ID</key>
	<string>1089832021850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moneyDivider</string>
	<key>PROJECT_ID</key>
	<string>paycutter-1e395</string>
	<key>STORAGE_BUCKET</key>
	<string>paycutter-1e395.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089832021850:ios:6c0da74e85c4ee3a7c4d63</string>
</dict>
</plist>